body{
  background: rgb(229, 234, 238);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.content{
  height: 700px;
}

.categorie{
  height: 89vh;
  float: left;
}

.detailCategorie{
  margin-top: 10px;
  border-right: 1px solid black;
  height: 88vh;
}

.listeProduit{
  height: 89vh;
}

.ticket{
  height: 89vh;
  float: right;
}

.detailTicket{
  padding-top: 40px;
  margin-top: 10px;
  background: rgb(0,170,254);
  border-radius: 10px 10px 0px 0px;
  height: 100px;

}

.listeAchatNonValide{
  height: 500px;
  background: rgb(241, 241, 241);
  overflow-y: scroll;
}

.validation{
  height: 50px;
  text-indent: right;
}

.btnValider{
  padding-top: 10px;
  height: 50px;
  text-align: right;
}

/*a {
  text-decoration: none;
}

a :hover{
  transform: scale(1.1);
  color: black;
  text-decoration: none;
}

a div p:hover{
  transform: scale(1.1);
  color: black;
  text-decoration: none;
}*/

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  transform: scale(1.1);
  background-color: #ddd;
  text-decoration: none;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}